.block-left {
  width:50%;
  height: 100%;
  min-height: 100vh;
  background-color:#000000;
  float:left;
  text-align: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
}

.block-right {
  width:50%;
  height: 100%;
  min-height: 100vh;
  background-color:#ffffff;
  float:right; 
  justify-content:center;
  position: relative;
}

.textAbout {
  (font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:600; font-stretch:normal; font-size: 6rem;
  color:"000")
}

.evenly-distributed-children {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.system-font-stack {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wrapper {
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  flex-wrap: wrap;
}

.col {
  padding: 2em;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;

  height:100vh;
}

.col.label {
  color: #000;
  width: 50%; 
  font-size: 1rem;
}

.col.link {
  color: #000;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  font-style: normal;
    }

h5{
  color: #000;
  font-size: 10rem;
  font-family: HelveticaNeueBold, sans-serif;
  font-style:normal; 
}



/* MEDIA QUERIES FOR 600px <= Resolutions */ 
@media (max-width:600px){
  .block-left{
    display:block;
    width:100%;
    float: none;
    height: auto;
  }
  
  .block-right{
    display:block;
    width:100%;
    float: none;  
  }
  
  .col{
    padding: 50px;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
    width:100%;
    -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
    text-align: left;
    justify-content: center;
    align-items: center;
    height: auto;
  }